.head-top{
    width: 96%;
    padding: 0 2%;
    display: flex;
    height: 50px;
    background: #333;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.menu {
    color: #fff;
    display: inline-block;
}
.menu i {
    font-size: 28px;
}
.logo{
    display: inline-block;
    text-align: center;
    flex: 1;
}
.logo img {
    height: 30px;
    vertical-align: middle;
}
.head-btn {
    padding: 0 10px;
}
.head-btn span{
    color: #fff;
}
.head-btn span i {
    font-size: 24px;
}

.banner {
    width: 100%;
    padding: 100px 0;
    background: url("../img/qiein_head.png") no-repeat center center;
    background-size: cover;
    justify-items: center;
}
.banner p {
    color: #fff;
    text-align: center;
    line-height: 28px;
    font-family: '微软雅黑';
    letter-spacing: 1px;
}
/*数据中心*/
.data-re{
    width: 100%;
    padding: 20px 0;
    background: #fff;
}
.data-title {
    text-align: center;
    font-size: 14px;
    font-family: '微软雅黑';
    margin-bottom: 20px;
}
.data-row{
    display: flex;
    width: 96%;
    padding: 0px 2%;
    border-bottom: 1px solid #e0e0e0;
}
.data-item{
    width: 50%;
    color: #000;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.data-item:nth-child(2n){
    border-left: 1px solid #e0e0e0;
}
.data-item .ziti{
    font-size: 24px;
    display: block;
    color: #000;
}
.data-item .title{
    font-size: 12px;
}
.data-item .data{
    font-size: 12px;
}
.data-item .data span{
    font-size: 24px;
    color: #38f;
    font-weight: bold;
    margin-right: 10px;
}
.data-icon {
    padding-top: 10px;
    text-align: center;
}
.data-icon i {
    font-size: 36px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.data-icon span{
    font-size: 12px;
    vertical-align: middle;
}

/*系统产品*/
.system{
    padding: 50px 0;
    background: linear-gradient(to right, #9655eb, #27cfea);
}
.system-title{
    color: #fff;
    text-align: center;
}
.system-title p{
    line-height: 28px;
    font-family: '微软雅黑';
}
.system-title .main-title{
    font-size: 18px;
    font-weight: bold;
}
.system-title .sub-title{
    font-size: 12px;
}
.system-row{
    padding:10px 0;
    display: flex;
    width: 100%;
}
.system-item{
    width: 90%;
    padding:10px 0;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    background: #fff;
    margin: 0 auto;
}
.system-item:nth-child(2n){
    margin-left: 2%;
}
.system-item .s-ziti{
    font-size: 30px;
    margin-bottom: 5px;
    color: #38f;
}
.system-item .s-main-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #38f;
}
.system-item .s-sub-title{
    font-size: 12px;
    line-height: 20px;
    color: #000;
}
.system-item .s-sub-title span{
    color: #38f;
}
.system-text p{
    color: #fff;
    font-size: 12px;
    display: block;
    text-align: center;
    line-height: 28px;
}
.partner {
    margin-top: 20px;
}
/*接单系统*/
.order{
    background: #101010;
    width: 100%;
    padding: 50px 0;
    position: relative;
}
.order-jfr{
    display: flex;
    margin-bottom: 20px;
}
.order-jfr img {
    vertical-align: middle;
    display: inline-block;
}
.order-jfr .o-word{
    flex: 1;
    color: #ffe5db;
    padding: 60px 0;
}
.o-word .o-name{
    margin-bottom: 25px;
}
.o-word h2 {
    margin-bottom: 10px;
}
.o-word .o-word-small{
    font-size: 14px;
}
.o-top-title{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.o-top-title1{
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    background: url("../img/text_bg01.jpg") no-repeat left center;
    color: transparent;
    -webkit-background-clip:text;
}
.order-title h2{
    background: url("../img/text-bg02.jpg") no-repeat left center;
    background-position: 31% 29%;
    color: transparent;
    -webkit-background-clip:text;
    text-align: center;
}
.order-item{
    padding:10px;
    color: #ffe5db;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.order-item:nth-child(2n){
    text-align: right;
}
 .order-item p {
     font-size: 14px;
     line-height: 24px;
 }
 .order-item .o-sub-title{
     font-size: 13px;
 }

 .order-cj{

 }
 .order-cj .o-cj-title{
     text-align: center;
     font-size: 18px;
     margin-bottom: 10px;
 }
 .o-cj-row{
     display: flex;
     margin-bottom: 10px;
 }
 .o-cj-item{
     width: 25%;
     text-align: center;
     line-height: 28px;
 }
 .order-cj .cj-text{
     background: url("../img/text-bg02.jpg") no-repeat;
     -webkit-background-clip:text;
     color: transparent;
     background-position:41% 0 ;
 }
 .order-cj .cj-name{
     font-size: 12px;
 }
 .order-cj .cj-data{
     font-size: 16px;
     font-weight: bold;
 }
 .us-box{
     background: #101010;
 }

/*团队介绍*/
.team {
    padding: 50px 0;
}
.team .team-title{
    color: #000;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px;
}
.team-swiper-item{
    background-position: center;
    background-size: cover;
    width: 300px;
}
.team-swiper-item img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
.team-swiper-item p {
    text-align: center;
    line-height: 24px;
    font-family: '微软雅黑';
}
.t-sub-title{
    font-size: 12px;
}

.super{
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.super::after{
    width: 80%;
    height: 1px;
    position: absolute;
    left: 10%;
    background: #e0e0e0;
    top: 0;
    content: '';
}
.super-title{
    line-height: 24px;
    text-align: center;
}
.super-title h2{
    font-size: 16px;
}
.super-title p {
    font-size: 12px;
}
.super-teacher {
    text-align: center;
    padding: 0 10px;
}
.super-teacher p {
    line-height: 28px;
}
.super-teacher span {
    font-size: 14px;
    font-family: '微软雅黑';
    font-weight: bold;
}

.floor{
    padding: 50px 0;
    width: 100%;
    background: #000;
}
.floor-swiper{
    height: 150px;
}
.floor-title{
    margin-bottom: 10px;
}
.floor-title h2{
    text-align: center;
    font-weight: bold;
    line-height: 24px;
}
.floor-title p{
    font-size: 12px;
    padding: 0 10px;
}
.floor .f-text{
    color: #ffe5db;
}
.floor-item {
    background: #fff;
    width: 80%;
    margin: 10px auto;
    background: #101010;
    padding: 10px;
    border: 1px solid #333;
}
.f-top{
    display: flex;
    color: #ffe5db;
    text-align: right;
    margin-bottom: 5px;
}
.f-top img {
    width: 60px;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
}
.f-top .f-info{
    flex: 1;
    line-height: 24px;
}
.f-info-name1{
    font-size: 14px;
    font-weight: bold;
}
.f-info-name2{
    font-size: 13px;
}
.f-bot{
    position: relative;
    padding-bottom: 10px;
    height: 20px;
}
.f-bot p{
    color: #ffe5db;
    font-size: 12px;
}
.f-bot-name{
    float: left;
    height: 30px;
    line-height: 30px;
}
.f-bot .f-contact{
    color: #ffe5db;
    padding:0 10px;
    background: #0057ff;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    float: right;
    height: 30px;
    line-height: 30px;
}
.f-contact i {
    vertical-align: middle;
    display: inline-block;
}
/*版权区域*/
.copy{
    background: #000;
    height: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
}
.nav{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
    left: -100%;
    top: 50px;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
}
.nav ul {
    padding: 10px 0;
}
.nav ul li {
    color: #000;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    width: 30%;
    font-size: 13px;
    border-right: 1px solid #e0e0e0;
    margin-bottom: 5px;
}
.nav ul li:nth-child(3n){
    border-right: none;
}

.qrcode {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(0,0,0,.5);
    display: none;
}
.qrcode img {
    position: absolute;
    width: 156px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.product-banner {
  width: 307px;
  height: 249.3px;
    background: url("../img/computer.png") no-repeat left center;
    background-size: 100%;
    position: relative;
    margin:10px auto 0 0;
    text-align: right;
}
.banner-ad{
    width: 263px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-left: 14px;
    padding-top: 20px;
}
.banner-ad img {
    width: 100%;
    display: block;
}
.ipad-banner{
    width: 181.3px;
    height: 125px;
    background: url("../img/qiein-ipad.png") no-repeat left center;
    background-size: cover;
    position: absolute;
    top: 280px;
    right: 0;
    z-index: 998;
    padding-top: 4px;
}
.ipad-ad{
    width: 165px;
    height: 140px;
    position: relative;
    overflow: hidden;
}
.ipad-ad img {
    width: 100%;
    height: 121px;
    display: block;
}
